{% extends "num_games/base.html" %}
{% block content %}
  <h2><a href="{% url 'num_games:start_ai_play' %}">ИГРА 1</a></h2>
  <h4>Человек загадывает число.</h4>
  <h4>Компьютер отгадывает.</h4>
  <h5>..........................................................................................</h5>
  <h2><a href="{% url 'num_games:start_user_play' %}">ИГРА 2</a></h2>
  <h4>Компьютер загадывает число.</h4>
  <h4>Человек отгадывает.</h4>
  <h5>..........................................................................................</h5>
{% endblock content %}
