{% extends "num_games/base.html" %}

{% block content %}
<div class="card">
    <div class="card-header"><h5>Компьютер задумал число...</h5></div>
    <div class="card-body">
        {% if game.guess_num != NULL %}
        <div><p class="card-text">ваш предыдущий ответ: {{game.guess_num}}</p>
            <p class="card-text">ответ компьютера: </p>
            <h4 class="nav-link">{{game.answer}}</h4>
            {% else %}
            <p class="card-text">попробуй его отгадать: </p>
            {% endif %}
        <form method="POST">
        {% csrf_token %}
        <label>Ваш ответ:</label>
        <input type="number" id="guess_num" name="guess_num" min="1" value=Null required>
        <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <div class="card-footer text-muted">
            <p class="card-text"><small><small>
                текущий ход: {{ game.num_rounds }}</small></small></p>
        </div>
        </div>
    </div>
</div>
{% endblock content %}