{% extends "num_games/base.html" %}

{% block content %}
<div class="card">
    <div class="card-header"><h5>{{user.username.title}} задумал число...</h5></div>
    <div class="card-body">
        <p class="card-text">Ответ компьютера: </p>
        <h3 class="nav-link">{{game.guess_num}}</h3>
        <form method="POST">
            {% csrf_token %}
            <label for="feedback">Ваш ответ:</label>
            <select id="feedback" name="feedback">
                <option value="меньше">Меньше</option>
                <option value="больше">Больше</option>
                <option value="угадал">Угадал</option>
            </select>
            <p class="navbar-brand">
                <button type="submit" class="btn btn-primary">
                    Ответить
                </button>
            </p>
        </form>
        <div class="card-footer text-muted">
            <p class="card-text"><small><small>
                текущий ход: {{ game.num_rounds }}</small></small></p>
        </div>
    </div>
</div>
{% endblock content %}

